---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
	
    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

	<title>SIMPLE JKN MOBILE BRIDGING</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=792, user-scalable=no">
	<link rel="stylesheet" href="https://shwr.me/shower/themes/ribbon/styles/styles.css">
	<style>
        .shower {
            --slide-ratio: calc(16 / 9);
        }
    </style>
</head>
<body class="shower list">

	<header class="caption">
		<h1>Best Practice Build JKN Mobile Bdriging</h1>
		<p>Hotel Aston Tanjung - Kalimantan Selatan</p>
	</header>

	<section class="slide" id="cover">
		<p>Sharing Bridging Antrian Online JKN Mobile dan Jadwal Operasi. <br>Hotel Aston Tanjung , 07 September 2020</p>
		<h2>SIMPLE JKN MOBILE BRIDGING</h2>
		<h4>oleh</h4>
		<h3>drg. F. BASORO</h3>
		<figure>
			<img class="cover" src="../khanza-dalam-genggaman/pictures/bg.jpg" alt="JKN Mobile">
			<figcaption class="copyright right white">
				<a href="https://basoro.id/">© Basoro.ID</a>
			</figcaption>
		</figure>
		<style>
			.shout p {position: absolute; top: 75%; left: 0; width: 100%; text-align: center;
						font-size: 50px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); color: #777}
			.shout h1 {font-size: 120px; color: #555; text-align: center;}

			#cover h2 {
				margin: 0px 0 0;
				color: white;
				text-align: center;
				font-size: 70px;
			}

			#cover h3 {
				margin: -20px 0 0;
				color: white;
				text-align: center;
				font-size: 40px;
			}

			#cover h4 {
				margin: 240px 0 0;
				color: white;
				text-align: center;
				font-size: 30px;
			}

			#cover p {
				margin: 0px 0 0;
				text-align: center;
				color: white;
				font-style: italic;
				font-size: 20px;
			}

			#cover p a {
				color: white;
			}
			.slide {background: #fff url(../khanza-dalam-genggaman/pictures/logo-modul-online.png) no-repeat right 431px;}
		</style>
	</section>

	<section class="slide">
		<h3>drg. Faisol Basoro, Probolinggo 17 April 1978</h3>
		<ul>
			<li>RSUD H. Damanhuri Barabai, Kab. Hulu Sungai Tengah, Kalimantan Selatan.</li>
			<li>Pengembang SIMRS Khanza Lite dan Mobile APPs</li>
		</ul>
	</section>

	<section class="slide"><div>
		<h2>Table of To Do</h2>
		<ol>
			<li>Tabel Antrian JKN</li>
			<li>Tabel Jadwal Operasi</li>
			<li>Kuota dan Jam Layanan (Global/Per Poli)</li>
			<li>JSON Web Token (JWT)</li>
			<li>Parameter & Statement</li>
			<li>Request & Response </li>
			<li>Test to Postman</li>
		</ol>
	</div></section>
	<section class="slide shout"><div>
		<h1>Tabel Antrian</h1>
	</div></section>

	<section class="slide">
		<h2>Tabel Antrian JKN</h2>
		<p style="width:150px;>
		<ul>
			<li>Kode Booking</li>
			<li>Nomor Antrian</li>
			<li>Jenis Antrian</li>
			<li>Peserta</li>
			<li>Nomor Kartu</li>
			<li>NIK</li>
			<li>No Telp</li>
			<li>Tanggal Periksa</li>
		<ul>
		</p>
		<p style="width:150px;float:right;>
		</ul>
 			<li>Kode Poli</li>
 			<li>Nama Poli</li>
 			<li>Nomor Referensi</li>
 			<li>Jenis Referensi</li>
 			<li>Jenis Request</li>
 			<li>Poli Eksekutif</li>
 			<li>Estimasi Dilayani</li>
 			<li>Status</li>
		</ul>
		</p>
	</section>

	<section class="slide shout"><div>
		<h1>Tabel Operasi</h1>
	</div></section>

	<section class="slide"><div>
		<h2>Tabel Daftar Operasi</h2>
		<!-- <img width="250px" src="pictures/broken-engine.jpg" class="alignright"> -->
		<ul>
			<li>Kode Booking</li>
			<li>Nama Pasien</li>
			<li>No Peserta</li>
			<li>Tindakan</li>
			<li>Kode Poli</li>
			<li>Nama Poli</li>
			<li>Tanggal</li>
			<li>Status</li>
		</ul>
	</div></section>

	<section class="slide"><div>
		<h2>Kuota & Jam Buka</h2>
		<p>Global atau Per Poli</p>
		<!-- <img width="250px" src="pictures/learner-sign.jpg" class="alignright"> -->
		<ul>
			<li>Kode Poli</li>
			<li>Nama Poli</li>
			<li>Kuota</li>
			<li>Jam Mulai</li>
		</ul>
		<figure class="clear">
			<blockquote>
				<p>Anything that can go wrong — will go wrong!</p>
			</blockquote>
			<figcaption>Murphy's Law</figcaption>
		</figure>
	</div></section>

	<section class="slide shout"><div>
		<h1>JWT</h1>
		<p>Header, Payload, Signature</p>
	</div></section>

	<section class="slide"><div>
		<pre>
    <code>private function _getToken() {</code>
    <code>    $header = json_encode(['typ' => 'JWT', 'alg' => 'HS256']);</code>
    <code>    $payload = json_encode(['username' => 'jkn, 'password' => ''mobile, 'date' => strtotime(date('Y-m-d')) * 1000]);</code>
    <code>    $base64UrlHeader = str_replace(['+', '/', '='], ['-', '_', ''], base64_encode($header));</code>
    <code>    $base64UrlPayload = str_replace(['+', '/', '='], ['-', '_', ''], base64_encode($payload));</code>
    <code>    $signature = hash_hmac('sha256', $base64UrlHeader . "." . $base64UrlPayload, 'abC123!', true);</code>
    <code>    $base64UrlSignature = str_replace(['+', '/', '='], ['-', '_', ''], base64_encode($signature));</code>
    <code>    $jwt = $base64UrlHeader . "." . $base64UrlPayload . "." . $base64UrlSignature;</code>
    <code>    return $jwt;</code>
    <code>}</code>
		</pre>
		<br/>
		<figure class="clear">
			<blockquote>
				<p>Simplicity is the ultimate sophistication!</p>
			</blockquote>
			<figcaption>William Gaddis</figcaption>
		</figure>
	</div></section>

	<section class="slide">
		<h2>Parameter & Statement</h2>
		<pre>
            <code>if(empty($decode['tanggalperiksa'])) {</code>
            <code>   $errors[] = 'Anda belum memilih tanggal periksa';</code>
            <code>}</code>
		</pre>
	</section>

	<section class="slide">
		<h2>Request & Response</h2>
		<pre>
            <code>$response = array(</code>
            <code>    'metadata' => array(</code>
            <code>        'message' => 'Access denied',</code>
            <code>        'code' => 401</code>
            <code>    )</code>
            <code>);</code>
		</pre>
	</section>

	<section class="slide shout"><div>
		<h1>Demo!</h1>
		<p>It's showtime!!!</p>
	</div></section>

	<section class="slide shout"><div>
		<h1>Q&A</h1>
		<p>Let's talk!</p>
	</div></section>

	<section class="slide shout"><div>
		<h1>The End!</h1>
		<p>Thanks :-)</p>
	</div></section>

	<footer class="badge">
		<a href="https://basoro.id">07 September 2020</a>
	</footer>

	<div class="progress"></div>

	<script src="../khanza-dalam-genggaman/shower/shower.min.js"></script>
	<!-- Copyright © 2018 Yours Truly, Famous Inc. -->

</body>
</html>
