@charset "utf-8";
/* CSS Document */
body{
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	font-size:12px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
	list-style:none;
}
input,textarea{
	outline:none;
}
body img{
  border:none;
}
a{
 color:#000;
 border:0;
 text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0);	/*禁止链接高亮*/
	-webkit-touch-callout: none;					/*禁止链接长按弹出选项菜单*/
}

/*合并边线,边线空间至零.*/
table {
     border-collapse:collapse;
     border-spacing:0;
     font-size: 12px;
}
/*清除边线*/
fieldset,img {
     border:0;
}
ol,ul {
     list-style:none;
}
caption {
     text-align:left;
}
/*
h1,h2,h3,h4,h5,h6 {
     font-size:100%;
     font-weight:normal;
}*/
.hidden-xs {
  color: #5E5E5E;
  border: 1px solid #EEEEEE;
  display: block;
  padding: 3px 5px;
  line-height: 1.1;
  border-radius: 4px
 }


.clear{
	clear:both;
	float:none;
	display:block;
	font-size:0px;
	height:0px;
	line-height:0px;
}

.help-info-text{
	color: #787878;
    line-height: 24px;
    margin-left: 5px;
    margin-top: 15px;
}
.help-info-text > li {
    list-style: disc inside;
}
.relative{
	position:relative
}
.zclip  embed {
    vertical-align: top;
}
/*按钮开关样式*/
.btswitch{display:none}
.btswitch,.btswitch *,.btswitch :after,.btswitch :before,.btswitch+.btswitch-btn,.btswitch:after,.btswitch:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btswitch ::-moz-selection,.btswitch :after::-moz-selection,.btswitch :before::-moz-selection,.btswitch+.btswitch-btn::-moz-selection,.btswitch::-moz-selection,.btswitch:after::-moz-selection,.btswitch:before::-moz-selection{background:0 0}
.btswitch ::selection,.btswitch :after::selection,.btswitch :before::selection,.btswitch+.btswitch-btn::selection,.btswitch::selection,.btswitch:after::selection,.btswitch:before::selection{background:0 0}
.btswitch+.btswitch-btn{outline:0;display:block;width:3.6em;height:2em;position:relative;cursor:pointer}
.btswitch+.btswitch-btn:after,.btswitch+.btswitch-btn:before{position:relative;display:block;content:"";width:50%;height:100%}
.btswitch+.btswitch-btn:after{left:0}
.btswitch+.btswitch-btn:before{display:none}
.btswitch:checked+.btswitch-btn:after{left:50%}

.btswitch-ios+.btswitch-btn{background:#cdcdcd;border-radius:2em;padding:2px;-webkit-transition:all .4s ease;transition:all .4s ease;border:1px solid #e8eae9}
.btswitch-ios+.btswitch-btn:after{border-radius:2em;background:#fbfbfb;-webkit-transition:left .3s cubic-bezier(.175,.885,.32,1.275),padding .3s ease,margin .3s ease;transition:left .3s cubic-bezier(.175,.885,.32,1.275),padding .3s ease,margin .3s ease;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,.1),0 4px 0 rgba(0,0,0,.08);box-shadow:0 0 0 1px rgba(0,0,0,.1),0 4px 0 rgba(0,0,0,.08)}
.btswitch-ios+.btswitch-btn:active{-webkit-box-shadow:inset 0 0 0 2em #e8eae9;box-shadow:inset 0 0 0 2em #e8eae9}
.btswitch-ios+.btswitch-btn:active:after{padding-right:.8em}
.btswitch-ios:checked+.btswitch-btn{background:#3498DB}
.btswitch-ios:checked+.btswitch-btn:active{-webkit-box-shadow:none;box-shadow:none}
.btswitch-ios:checked+.btswitch-btn:active:after{margin-left:-.8em}
